on init
    mkdir /mnt/vendor 0755 root root
    mkdir /mnt/vendor/apd 0771 root root
    mkdir /mnt/vendor/protect_f 0770 root root
    mkdir /mnt/vendor/protect_s 0770 root root
    mkdir /mnt/vendor/persist 0755 root root
    mkdir /mnt/vendor/nvdata 0771 root root
    mkdir /mnt/vendor/nvcfg 0771 root root
    mount ext4 /dev/block/platform/bootdevice/by-name/apd /mnt/vendor/apd rw wait
    mount ext4 /dev/block/platform/bootdevice/by-name/protect1 /mnt/vendor/protect_f rw wait
    mount ext4 /dev/block/platform/bootdevice/by-name/protect2 /mnt/vendor/protect_s rw wait
    mount ext4 /dev/block/platform/bootdevice/by-name/persist /mnt/vendor/persist rw wait
    mount ext4 /dev/block/platform/bootdevice/by-name/nvdata /mnt/vendor/nvdata rw wait
    mount ext4 /dev/block/platform/bootdevice/by-name/nvcfg /mnt/vendor/nvcfg rw wait

on fs
	write /proc/bootprof "tkcore: prepare system ta path"

	write /proc/bootprof "tkcore: prepare persist sfs"
	mkdir /mnt/vendor/persist/t6_twrp
	setprop vendor.trustkernel.fs.mode 3
	setprop vendor.trustkernel.fs.state ready
	start teed

on property:vendor.trustkernel.fs.state=ready
	write /proc/bootprof "tkcore: prepare basic"
	mkdir /data/vendor/t6

	write /proc/bootprof "tkcore: prepare sfs"
	mkdir /data/vendor/t6/fs

	write /proc/bootprof "tkcore: prepare service provider ta path"
	mkdir /data/vendor/t6/app

# For non-encrypted case
on property:ro.crypto.state=unencrypted
	setprop vendor.trustkernel.fs.mode 1
	setprop vendor.trustkernel.fs.state ready

# For FDE/encrypted successfully
on property:vold.decrypt=trigger_restart_framework
	setprop vendor.trustkernel.fs.mode 2
	setprop vendor.trustkernel.fs.state ready

# For FBE/encrypted successfully
on property:ro.crypto.type=file && property:ro.crypto.state=encrypted
	setprop vendor.trustkernel.fs.mode 3
	setprop vendor.trustkernel.fs.state ready

on property:vendor.trustkernel.log.state=ready
	write /proc/bootprof "tkcore: prepare log file"
	setprop vendor.trustkernel.log.state enable

service teed /vendor/bin/teed \
    --datapath /data/vendor/t6/fs \
    --sptapath /data/vendor/t6/app \
    --systapath /vendor/app/t6 \
    --prot /mnt/vendor/persist/t6_twrp \
    --logpath /tmp/tkcore.log \
    --proprefix vendor.trustkernel
	user root
	group root
    disabled
    seclabel u:r:recovery:s0
